.c {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.c-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  z-index: 2;
}
.cc-browser {
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-name{
  position: absolute;
  font-size: 15px;
  top: -1;
  left: 0;
  right: 0;
  
}

.c-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}

.c-img {
  width: 100%;
  height: 100%;
}

h4{
  margin-left:70px;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .c {
    width: 40%;
    height: 20vh;
  }
}
